
/*Header*/
.header {
    background-color: #203843;
  }
  
  .imgHeader {
    width: 70px;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .btnSolicitarOrcamento {
    background-color: #C1A994;
    color: #203843;
    border-radius: 2px;
    width: 191.25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .btnSolicitarOrcamento:hover {
    background-color: #DDBDA0;
    color: #203843;
  }
  
  .nav-item>a {
    color: aliceblue;
  }
  
  .nav-item a.active {
    border-bottom: 2px solid #C1A994;
    color: #FFF !important;
  }
  
  .nav-item a:hover {
    color: #C1A994;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  
  }
  
  .bi-list {
    color: #C1A994;
    font-size: 50px;
  }
  
/*Footer*/

  footer {
    background-color: #203843;
  }
  
  .imgFooter {
    width: 170px;
  }
  
  .redesSociais>a {
    margin-top: 5px;
    margin-left: 10px;
    color: #d9d9d9;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .redesSociais>a:hover {
    color: #C1A994;
    transition: 0.25s;
  }
  
  .iconesInformacoes>i {
    color: #d9d9d9;
    font-size: 25px;
  }
  
  .iconesInformacoes>p {
    color: #d9d9d9;
    font-size: 15px;
    padding-top: 15px;
    margin-left: 10px;
  }
  
  .iconesInformacoesDir>p {
    color: #d9d9d9;
    font-size: 15px;
    margin-bottom: 0px;
  }
  
  .demaisInformacoes {
    padding-right: 0px;
    padding-left: 150px;
    margin-bottom: 10px;
  }

  /*Texto de colecoes*/

  .text-colecoes {
    background-color: #d9d9d9;
    display: block;
    text-align: left;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
  }

  .risco-colecoes {
    background-color: #203843;
    width: 90px;
    height: 3px;
  }

  .text-colecoes h1 {
    padding-top: 6px;
    font-size: 15pt;
    color: #203843;
  }

  .text-colecoes p {
    font-size: 15pt;
  }

  /*Imagens*/

  .fotos-colecoes {
    border: 2px solid rgb(2, 209, 2);
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
  }

  #carouselExample {
    display: none;
  }

  /*Orçamento*/

  .orcamento {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
  }


  /*.texto-moveis {
    background-color: #d9d9d9;
    width: auto;
    margin-left: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    color: #203843;
  }

  .texto-moveis h1 {
    width: 300px;
    font-size: 30pt;
  }
  */


  .text-center * {
    border: 2px solid rgb(2, 209, 2);
  }
  .texto-moveis {
    background-color: #d9d9d9;
    color: #203843;

  }
  
  .botao-orcamento {
    background-color: #203843;
    color: white;
  }


  
  /*Versão Mobile*/
  @media(max-width: 991px) {
    .btnSolicitarOrcamento {
      background-color: #C1A994;
      color: #203843;
      border-radius: 2px;
      width: 191.25px;
      display: flex;
    }
  
    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  
    .imgDivFooter {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .col-md-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .demaisInformacoes {
      padding-right: 0px;
      padding-left: 0px;
    }

    /*Texto coleções*/

    .text-colecoes {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .risco-colecoes {
        background-color: #203843;
        width: 30px;
        height: 3px;
      }
    
      .text-colecoes h1 {
        padding-top: 12px;
        font-size: 10pt;
        color: #203843;
      }
    
      .text-colecoes p {
        font-size: 10pt;
        padding-top: 8px;
      }

      /*Imagens*/

      .fotos-colecoes {
        display: none;
      }

      #carouselExample {
        margin-top: 0px;
        margin-bottom: 10px;
        display: block;
      }

      /*Orçamento*/

      /*.orcamento {
        display: contents;
      }

      .texto-moveis {
        background-color: #d9d9d9;
        width: auto;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
      }

      .botao-orcamento {
        width: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
      }*/

  }